titanium.platform=/Users/flavio.destefano/Library/Application Support/Titanium/mobilesdk/osx/5.0.1.GA/android
android.platform=/opt/android/platforms/android-19
google.apis=/Users/flavio.destefano/android-sdks/add-ons/addon-google_apis_x86-google-19